<main class="container">
    <h1>Add New Vehicle to Inventory</h1>

    <!-- Mensajes flash -->
    <% if (typeof success_msg !== 'undefined') { %>
        <div class="flash flash-success"><%= success_msg %></div>
    <% } %>

    <% if (typeof error_msg !== 'undefined') { %>
        <div class="flash flash-error"><%= error_msg %></div>
    <% } %>

    <% if (typeof errors !== 'undefined' && errors.length) { %>
    <ul class="flash flash-errors">
        <% errors.forEach(function(err){ %>
            <li><%= err.msg || err %></li>
        <% }) %>
    </ul>
    <% } %>

<form id="updateForm" class="inventory-form" action="/inv/update" method="post" novalidate>

    <label for="classificationList">Classification:</label>
    <%- classificationList %>

    <label for="inv_make">Make:</label>
    <input
        type="text"
        id="inv_make"
        name="inv_make"
        required
        value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>"
    />

    <label for="inv_model">Model:</label>
    <input
        type="text"
        id="inv_model"
        name="inv_model"
        required
        value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>"
    />

    <label for="inv_year">Year:</label>
    <input
        type="number"
        id="inv_year"
        name="inv_year"
        min="1900"
        max="<%= new Date().getFullYear() + 1 %>"
        required
        value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>"
    />

    <label for="inv_description">Description:</label>
    <textarea
        id="inv_description"
        name="inv_description"
        required
        minlength="10"
    ><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>

    <label for="inv_image">Image Path:</label>
    <input
        type="text"
        id="inv_image"
        name="inv_image"
        required
        value="<%= typeof inv_image !== 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>"
    />

    <label for="inv_thumbnail">Thumbnail Path:</label>
    <input
        type="text"
        id="inv_thumbnail"
        name="inv_thumbnail"
        required
        value="<%= typeof inv_thumbnail !== 'undefined' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>"
    />

    <label for="inv_price">Price:</label>
    <input
        type="number"
        id="inv_price"
        name="inv_price"
        min="0"
        step="0.01"
        required
        value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>"
    />

    <label for="inv_miles">Miles:</label>
    <input
        type="number"
        id="inv_miles"
        name="inv_miles"
        min="0"
        required
        value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>"
    />

    <label for="inv_color">Color:</label>
    <input
        type="text"
        id="inv_color"
        name="inv_color"
        required
        minlength="3"
        value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>"
    />
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

        <button disabled type="submit">Update Vehicle</button>
        <script src="../../public/js/inv-update.js"></script>
    </form>
</main>


